error-handler-logic-app-definition.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {},
    "triggers": {
      "manual": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "schema": {
            "type": "object",
            "properties": {
              "executionId": {
                "type": "string"
              },
              "error": {
                "type": "object"
              },
              "context": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "actions": {
      "Initialize_Error_Details": {
        "runAfter": {},
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ErrorDetails",
              "type": "object",
              "value": {
                "executionId": "@triggerBody()?['executionId']",
                "errorTime": "@utcnow()",
                "error": "@triggerBody()?['error']",
                "context": "@triggerBody()?['context']"
              }
            }
          ]
        }
      },
      "Log_Error_to_Blob": {
        "runAfter": {
          "Initialize_Error_Details": ["Succeeded"]
        },
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['azureblob']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v2/datasets/@{encodeURIComponent('stpocsuhaib')}/files",
          "queries": {
            "folderPath": "/errors/@{formatDateTime(utcnow(), 'yyyyMMdd')}",
            "name": "error-@{triggerBody()?['executionId']}-@{formatDateTime(utcnow(), 'HHmmss')}.json",
            "queryParametersSingleEncoded": true
          },
          "body": "@variables('ErrorDetails')"
        }
      },
      "Send_Error_Alert_Email": {
        "runAfter": {
          "Log_Error_to_Blob": ["Succeeded"]
        },
        "type": "ApiConnection",
        "inputs": {
          "host": {
            "connection": {
              "name": "@parameters('$connections')['gmail']['connectionId']"
            }
          },
          "method": "post",
          "path": "/v1/Mail",
          "body": {
            "To": "suhaib.muhammed2002@gmail.com",
            "Subject": "🚨 mseONE PoC - Execution Failed @{formatDateTime(utcnow(), 'yyyy-MM-dd HH:mm')}",
            "Body": "<h2>❌ Logic App Execution Error</h2>\n<p><strong>Execution ID:</strong> @{triggerBody()?['executionId']}</p>\n<p><strong>Error Time:</strong> @{utcnow()}</p>\n<p><strong>Error Details:</strong></p>\n<pre>@{triggerBody()?['error']}</pre>\n<p><strong>Context:</strong></p>\n<pre>@{triggerBody()?['context']}</pre>\n<p><strong>Error Log:</strong> errors/@{formatDateTime(utcnow(), 'yyyyMMdd')}/error-@{triggerBody()?['executionId']}-@{formatDateTime(utcnow(), 'HHmmss')}.json</p>\n<p>Please investigate and resolve the issue.</p>",
            "IsHtml": true
          }
        }
      }
    },
    "outputs": {
      "errorLogged": {
        "type": "bool",
        "value": true
      }
    }
  },
  "parameters": {
    "$connections": {
      "value": {
        "azureblob": {
          "connectionId": "/subscriptions/0f9ec8b3-d366-4f81-9873-dbbde1e72b8c/resourceGroups/rg-poc/providers/Microsoft.Web/connections/azureblob",
          "connectionName": "azureblob",
          "id": "/subscriptions/0f9ec8b3-d366-4f81-9873-dbbde1e72b8c/providers/Microsoft.Web/locations/eastus/managedApis/azureblob"
        },
        "gmail": {
          "connectionId": "/subscriptions/0f9ec8b3-d366-4f81-9873-dbbde1e72b8c/resourceGroups/rg-poc/providers/Microsoft.Web/connections/gmail",
          "connectionName": "gmail",
          "id": "/subscriptions/0f9ec8b3-d366-4f81-9873-dbbde1e72b8c/providers/Microsoft.Web/locations/eastus/managedApis/gmail"
        }
      }
    }
  }
}